{
    "configs": [
        {
            "name": "local-binary",
            "database": {
                "host": "localhost",
                "port": 3306,
                "user": "",
                "password": "",
                "database": ""
            }
        },
        {
            "name": "remote-1",
            "database": {
                "host": "your_ip_address",
                "port": 3306,
                "user": "",
                "password": "",
                "database": ""
            }
        },
        {
            "name": "remote-2",
            "database": {
                "host": "your_ip_address",
                "port": 3306,
                "user": "",
                "password": "",
                "database": ""
            }
        }
    ]
}
